.top{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans';
    background-color: #53c28b;
    z-index: 999;   
}

.topLeft {
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.topRight {
    flex: 20%;
    display: none;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 60%;
    display: flex;
    justify-content: center;
    margin-right: 140px;
}

.topIcon{
    font-size: 30px;
    margin: 5px;
    color: #444;
    cursor: pointer;

}

.topIcons{
    

}

.topSearchIcon{
    font-size: 17px;
    margin: 5px;
    color: #444;
    cursor: pointer;

}
.topRightImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
}

.topLeftImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 13px;
}

.topCenterList{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: -150px;
    padding: 0;
    list-style: none;
    align-items: center;
    
}

.topListItem{
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.topListItem:hover{
    background-color: honeydew;
    padding: 4px;
    border-radius: 5px;
}

@media (max-width:1170px) {
    
    .topListItem{
        margin: 15px;
        font-size: 100%;
        font-weight: 400;
        cursor: pointer;
    }

    .topIcon{
        font-size: 27px;
        margin: 5px;
        color: #444;
        cursor: pointer;
    
    }

}
@media (max-width:1050px) {
    .top{
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        font-family: 'Josefin Sans';
        background-color: #53c28b;
        z-index: 999;   
    }

    .topCenterList{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
        
    }

    .topCenter {
        flex: 60%;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .topListItem{
        margin: 15px;
        font-size: 100%;
        font-weight: 400;
        cursor: pointer;
    }

    .topLeftImg{
        width: 95px;
        height: 98px;
        object-fit: cover;
        cursor: pointer;
        margin-top: 13px;
        margin-right: 19px;
        margin-left: 5px;
    }

    .topIcon{
        font-size: 25px;
        margin: 5px;
        color: #444;
        cursor: pointer;
    
    }

}

@media (max-width:760px) {
    .top{
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        font-family: 'Josefin Sans';
        background-color: #53c28b;
        z-index: 999;   
    }

    .topCenter {
        flex: 60%;
        display: flex;
        justify-content: center;
        margin-right: 0px;

    }

    .topListItem{
        margin: 12px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }

    .topLeftImg{
        width: 85px;
        height: 88px;
        object-fit: cover;
        cursor: pointer;
        margin-top: 13px;
        margin-right: 19px;
        margin-left: 5px;
    }

    .topIcon{
        font-size: 20px;
        margin: 5px;
        color: #444;
        cursor: pointer;
    
    }

    .topCenterList{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
    }    

}

@media (max-width:650px) {
    .top{
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        font-family: 'Josefin Sans';
        background-color: #53c28b;
        z-index: 999;   
    }

    .topCenter {
        flex: 60%;
        display: flex;
        justify-content: center;
        margin-right: 0px;

    }

    .topListItem{
        margin: 9px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }

    .topLeftImg{
        width: 85px;
        height: 88px;
        object-fit: cover;
        cursor: pointer;
        margin-top: 13px;
        margin-right: 19px;
        margin-left: 5px;
    }

    .topIcon{
        font-size: 20px;
        margin: 5px;
        color: #444;
        cursor: pointer;
    
    }

    .topCenterList{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
    }    

}

@media (max-width:585px) {
    .top{
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        font-family: 'Josefin Sans';
        background-color: #53c28b;
        z-index: 999;   
    }

    .topCenter {
        flex: 60%;
        display: flex;
        justify-content: center;
        margin-right: 0px;

    }

    .topListItem{
        margin: 8px;
        font-size: 10.5px;
        font-weight: 600;
        cursor: pointer;
    }

    .topLeftImg{
        width: 72px;
        height: 78px;
        object-fit: cover;
        cursor: pointer;
        margin-top: 13px;
        margin-right: 10px;
        margin-left: -2px;
    }

    .topIcon{
        font-size: 17px;
        margin: 3px;
        color: #444;
        cursor: pointer;
    
    }

    .topIcons{
        margin-left: -5px;
        margin-right: -20px;
    }


    .topCenterList{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
    }    

}

@media (max-width:487px) {
    .top{
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        font-family: 'Josefin Sans';
        background-color: #53c28b;
        z-index: 999;   
    }

    .topListItem{
        margin: 5px;
        font-size: 9.5px;
        font-weight:600;
        cursor: pointer;
    }

    .topCenter {
        flex: 60%;
        display: flex;
        justify-content: center;
        margin-right: -10px;

    }

    .topLeftImg{
        width: 73px;
        height: 78px;
        object-fit: cover;
        cursor: pointer;
        margin-top: 13px;
        margin-right: 5px;
        margin-left: -22px;
    }

    .topIcon{
        font-size: 15px;
        margin: 3px;
        color: #444;
        cursor: pointer;
    
    }

    .topIcons{
        width: 30px;
        margin-left: 10px;
        padding-left: -10px;

    }

    .topCenterList{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: -25px;
        padding: 0;
        list-style: none;
        align-items: center;
    }    

}