.videos{
    display: flex;
    flex: 14;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:760px) {
    .videos{
        display: flex;
        flex: 8;
        flex-wrap: wrap;
    }
}
