.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  text-align: center;
}

.title {
  color: rgb(224, 223, 220);
  font-size: 4rem;
  font-family: Montserrat;
  font-weight: 600;
}

@media (max-width: 550px) {
}
