.videoPost{
    display: flex;
    width: 385px;
    margin: 25px 25px 40px 25px;
    flex-direction: column;
    
}

.videoPostImg{
 width: 100%;
 border-radius: 20px;
 object-fit: cover;
}

.videoPostInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.videoPostCats{
font-size: 14px;
color: #53c28b;
font-weight: 500;
}

.videoPostCat{
margin: 5px;
}

.videoPostDate{
    font-size: 11px;
    font-family: Righteous;
    margin: 5px;
    color: gray;
}

.videoPostTitle{
    font-size: 24px;
    margin: 0px;
    font-family: Open Sans;
    font-weight: 600;
    text-align: center;
    color:#CCC;
    
}

.videoPostDesc{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #CCC;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 15px;
}

@media (max-width:1226px) {
    .videoPost{
        display: flex;
        width: 240px;
        margin: 25px 25px 40px 25px;
        flex-direction: column;
        
    }

}
@media (max-width:854px) {
    .videoPost{
        display: flex;
        width: 220px;
        margin: 25px 25px 40px 25px;
        flex-direction: column;
        
    }

}
@media (max-width:556px) {
    .videoPost{
        display: flex;
        width: 310px;
        margin: 25px 0px 40px 0px;
        flex-direction: column;
        
        
    }

}
